build/.ninja_deps
build/.ninja_log
build/build.ninja
build/compile_commands.json
build/project_description.json
build/CMakeFiles/git-data/grabRef.cmake
build/CMakeFiles/git-data/HEAD
build/CMakeFiles/git-data/head-ref
build/bootloader/build.ninja.tmp00fe4
build/bootloader/compile_commands.json.tmp06578
build/bootloader/CMakeFiles/rules.ninja.tmp13bc1
build/bootloader/CMakeFiles/git-data/HEAD
build/bootloader/CMakeFiles/git-data/head-ref
build/bootloader/esp-idf/partition_table/cmake_install.cmake.tmpc4619
build/esp-idf/app_update/libapp_update.a
build/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
build/log/idf_py_stderr_output_107864
build/log/idf_py_stdout_output_107864
