menu "Example Configuration"

    choice ESPNOW_WIFI_MODE
        prompt "WiFi mode"
        default ESPNOW_WIFI_MODE_STATION
        help
            WiFi mode(station or softap).

        config ESPNOW_WIFI_MODE_STATION
            bool "Station"
        config ESPNOW_WIFI_MODE_STATION_SOFTAP
            bool "Softap"
    endchoice

    config ESPNOW_PMK
        string "ESPNOW primary master key"
        default "pmk1234567890123"
        help
            ESPNOW primary master for the example to use. The length of ESPNOW primary master must be 16 bytes.

    config ESPNOW_LMK
        string "ESPNOW local master key"
        default "lmk1234567890123"
        help
            ESPNOW local master for the example to use. The length of ESPNOW local master must be 16 bytes.

    config ESPNOW_CHANNEL
        int "Channel"
        default 1
        range 0 14
        help
            The channel on which sending and receiving ESPNOW data.

    config BROADCAST_DURATION
        int "Broadcast duration"
        default 1000
        range 1 65535
        help
            Duration in which broadcast gets send around the WSN in ms.

    config TIMESTAMP_SEND_DELAY
        int "Timestamp send interval"
        default 100
        range 10 65535
        help
            Delay between timestamp broadcasts in ms during neighbor detection.
    
    config NATIVE_SEND_DELAY
        int "Native packet send interval"
        default 100
        range 50 65535
        help
            Delay between sending native packets in ms during message exchange phase.
    
    config DEEPSLEEP_DURATION_MS
        int "Deepsleep duration, unit in ms"
        range 50 60000
        default 1000
        help
            Duration each device stays in deepsleep, unit in milliseconds.

    config MSG_EXCHANGE_DURATION_MS
        int "Message exchange duration, unit in ms"
        range 50 3600000000
        default 1000
        help
            Duration of the message exchange phase, unit in milliseconds.
        
endmenu
